.tripal-contents {
  border-top: 1px solid #d0d0d0;
}

/**
 * Feature Pages
 */
table#tripal_feature-variant_genotypes tr td.layout {
  border: none;
  border-top: 1px solid #F3F3F3;
  border-bottom: 1px solid #F3F3F3;
  background: white;
}

table#tripal_feature-variant_genotypes tr td.layout.genotypes-pie {
  width: 300px;
  margin-right: 25px;
  margin-left: 50px;
}

/**
 * Feature Pages: Ribbons
 */
.ribbon-wrapper {
  width: 149px;
  height: 154px;
  overflow: hidden;
  position: absolute;
  top: 70px;
  right: 13px;
  z-index: 4;
}

.ribbon {
  z-index: 5;
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 45px;
  width: 193px;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon:before, .ribbon:after {
  content: "";
  border-top:   3px solid #6e8900;
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon:before {
  left: 0;
}
.ribbon:after {
  right: 0;
}

.ribbon-generic {
  color: #56554C;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;

  background-color: #B3B3B3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#B3B3B3), to(#CCCCCC));
  background-image: -webkit-linear-gradient(top, #B3B3B3, #CCCCCC);
  background-image:    -moz-linear-gradient(top, #B3B3B3, #CCCCCC);
  background-image:     -ms-linear-gradient(top, #B3B3B3, #CCCCCC);
  background-image:      -o-linear-gradient(top, #B3B3B3, #CCCCCC);
}

.ribbon-sequence {
  color: #DADAD0;
  text-shadow: rgba(0,0,0,0.5) 0px 1px 0px;

  background-color: #7C9A99;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7C9A99), to(#597372));
  background-image: -webkit-linear-gradient(top, #7C9A99, #597372);
  background-image:    -moz-linear-gradient(top, #7C9A99, #597372);
  background-image:     -ms-linear-gradient(top, #7C9A99, #597372);
  background-image:      -o-linear-gradient(top, #7C9A99, #597372);
}

.ribbon-variant {
  color: #56554C;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;

  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);
}

.ribbon-marker {
  color: #DADAD0;
  text-shadow: rgba(0,0,0,0.5) 0px 1px 0px;

  background-color: #004080;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#004080), to(#011F46));
  background-image: -webkit-linear-gradient(top, #004080, #011F46);
  background-image:    -moz-linear-gradient(top, #004080, #011F46);
  background-image:     -ms-linear-gradient(top, #004080, #011F46);
  background-image:      -o-linear-gradient(top, #004080, #011F46);
}

/**
 * Feature Pages Sequence
 */
#tripal_feature-fasta-record {
  background-color: #EEEEEE;
}
#tripal_feature-sequence-header {
  font-family: monospace;
  font-size: medium;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 0;
  margin-bottom: 0;
}
#tripal_feature-sequence-residues {
  width: 400px;
  word-wrap: break-word;
  margin: 0;
  letter-spacing:2px;
  padding-top: 0;
  margin-top: 0;
  background-color: transparent;
}

.variant-marked-up-sequence .variant {
  font-weight: bold;
  font-size: 1.25em;
}

.variant-marked-up-sequence .variant-IUPAC a {
  color: #1BD004;
}

.variant-marked-up-sequence .variant-expanded a {
  color: blue;
}

/**
 * Research Area Pages
 */
.uofs-research-area-base .field-name-field-page-thumnail {
  display: inline-block;
  float: left;
  margin-right: 30px;
  margin-bottom: 20px;
}
.uofs-research-area-base .field-name-field-page-thumnail img {
  margin: 0;
}

/**
 * Research Area Teaser
 */
.field-name-field-page-thumnail .field-items {
  display: inline-block;
  padding-right: 30px;
}
.field-name-field-page-thumnail {
  float: left;
}

.uofs-research-area-teaser-image {
  padding-right: 30px;
}

.tripal-teaser-more {
  float: right;
}

/**
 * Organism Pages
 */
.organism-main-image {
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}
table#tripal_organism-table-base {
  width: auto;
  display: block;
  margin-bottom: 30px;
}

table td.tripal-contents-table-td {
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
}

/**
 * Organism Teaser
 */
div.tripal-teaser-title {
  border-bottom: 1px solid #d0d0d0;
  clear: both;
}

.field-name-field-organism ul.links.inline {
  display: none;
}

/**
 * Project Pages
 */
.project-date {
  float: right;
  font-weight: bold;
}

/**
 * Student Information page
 */
ul.professors li {
  list-style-type: none;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 140px;
}

ul.professors li.professor-first {
  padding-top: 30px;
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
}

ul.professors li.professor-middle, ul.professors li.professor-last {
  border-bottom: 1px solid #d0d0d0;
}

ul.professors .professor-image {
  float: left;
  padding-right: 30px;
  /*padding: 15px 30px 15px 0px;*/
}

ul.professors .professor-name {
  font-weight: bold;
/*  padding-top: 15px;*/
}