/**
 * Header
 */
#header {
margin-top: -6px;
  background-image:url("../images/banner.jpg");
  background-repeat: repeat-x;
  border-bottom: 2px solid black;
  -webkit-box-shadow: 0 4px 4px #000000;
     -moz-box-shadow: 0 4px 4px #000000;
          box-shadow: 0 4px 4px #000000;
}

#header img{
  border: none;
}

#site-name {
font-size: 6em;
text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

body {
  background: #161617;
  min-width: 820px; /* menu links will start to wrap if this is set too low, 
							depends on how many menu llinks you have */

							
}

/**  secondary menu shadow */
#subbarshadow {
position: relative;
height: 6px;
background: url("../images/subbarshadow.png");
background-repeat: x;
width: 100%;
z-index: 11;
margin-top: 40px;
  
}


/**
 * Top Menu's
 */
div.menu-main h2 {
  display:none;
}

div.menu-main .content {
  margin: 0;
}

div.menu-second{
line-height: 1.5;
font-size:12px;

}

div.menu-main li {
  display:block;
  float: left;
}

div.menu-first {
  display:block;
  height:31px;
  margin-top:0px;
  background: url('../images/mainbarbg.jpg') repeat-x;
  width:100%;
}


div.menu-first ul {
  margin-left:20px;
}
div.menu-first li{
 height: 23px;

}


div.menu-first li.leaf {
  padding-top: 0;
}

div.menu-first a {
  font-size: 12px;
  font-weight: 100;
  font-family: Verdana;
  text-align: left;
  color:  #718794;
  white-space: nowrap;
  right: 40px;
  line-height: 33px;
  text-transform: uppercase;
  padding: 0px 12px 2px 5px;
  background: url('../images/maindivider.png') no-repeat 100%;
  text-decoration:none;
}


div.menu-first .last a {
  background-image:none;
}

 
div.menu-second {
 
  display:block;
  float: left;
  height:42px;
  width:100%;
  background: url('../images/subbg.png');
  clear: both;
}

 
 div.menu-second  ul{
	list-style-type: square;
	margin-top: -1px;
	margin-left: -11px;
 }

div.menu-second a{

  color: #474747;
  font-size:13px;
  font-family:Arial, Helvetica, sans-serif;
  line-height:38px;
  float: left;
  font-weight:normal;
  letter-spacing: 1px;
  padding: 2px 25px 2px 10px;
  display:block;
  height: 43px;
  background: url('../images/subdivider.png') no-repeat 100% 21px;

}
 div.menu-second .last a {
  background-image:none;
}
 
/**
 * Tables
 */
table tr th {
  background-color: #314355;
  border: 1px solid #d0d0d0;
}
table tr td {
  border: 1px solid #d0d0d0;
}

table tr.odd {
  background: #FFFFFF;
}
table tr.even {
  background: #FBFBFB;
}

/**
 * Forms
 */
fieldset legend {
  background-color: #314355;
}
fieldset legend a.fieldset-title {
  color: #FFFFFF;
  text-shadow: none;
}

/**
 * Fields
 */

/* Images (with source) Fields */
.field-name-field-image img{
  display: inline-block;
  border: 1px solid #d0d0d0;
  margin: 0;
}

/** All Images */
img {
  border: 1px solid #d0d0d0;
  margin: 0;
}

/**
 * Bioinformatics Launchpad
 */
h2.pane-title {
  display: none;
}
.launchpad-item {
  height: 150px;
  margin-left: 15px;
  margin-right: 15px;
}
.launchpad-category-title {
  border-bottom: 1px solid #d0d0d0;
}
.launchpad-title a {
  text-decoration:underline;
}

.launchpad-item.tool .launchpad-title a, .launchpad-item.tool .launchpad-title {
  color: black;
}
.launchpad-item.seq .launchpad-title a, .launchpad-item.seq .launchpad-title {
  color: #aab35b;
}
.launchpad-item.stock .launchpad-title a, .launchpad-item.stock .launchpad-title {
  color: #406b48;
}